.workbench-wrapper {
  width: 100%;
  height: 100%;

  .container {
    position: relative;
    height: 100%;
    background: #333;

    .main {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('~@/assets/workbeanch/t.jpg') repeat;
    }

    .axes {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      width: 100px;
      height: 100px;
    }
  }
}
