.config-options {
  display: flex;
  justify-content: space-between;

  &-btn {
    > span {
      padding: 0 5px;
      cursor: pointer;

      &:nth-child(2) i {
        color: #5f8ac1;
      }

      &:nth-child(3) i {
        color: #e72a1c;
      }
    }
  }
}
