.asset-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  color: #636a71;
  font-size: 12px;

  &::before {
    width: 6%;
    height: 1px;
    margin-right: 1em;
    background-color: #474747;
    content: '';
  }

  &::after {
    flex: 1;
    height: 1px;
    margin-left: 1em;
    background-color: #474747;
    content: '';
  }
}

.asset-item {
  height: 68px;
  line-height: 68px;

  &-cover {
    display: inline-block;
    width: 100px;
    height: 50px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: move;
    }
  }

  &:hover {
    background-color: #525252;
  }
}
